.form-group{
    white-space:nowrap;
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
    -moz-appearance:textfield;
  }
  
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea{
    width: 100%;
}

.randomize-button{
    width: 24px;
    height: 24px;
    border-width: 0 0 0 0;
    padding: 0 0 0 0;
}
