<div>
    <span *ngIf="character.name == ''">Name</span>
    <span>{{character.name}}</span>
</div>
<div>
    <span *ngIf="character.description == ''">Description</span>
    <span>{{character.description}}</span>
</div>
<div>
    STR: 
    {{character.strength}}
</div>
<div>
    CON: 
    {{character.constitution}}
</div>
<div>
    SIZ: 
    {{character.size}}
</div>
<div>
    DEX: 
    {{character.dexterity}}
</div>
<div>
    INT: 
    {{character.intelligence}}
</div>
<div>
    APP: 
    {{character.appearance}}
</div>
<div>
    POW: 
    {{character.power}}
</div>
<div>
    EDU: 
    {{character.education}}
</div>
<div>
    SAN: 
    {{character.sanity}}
</div>
<div>
    HP: 
    {{character.health}}
</div>
<div>
    Damage Bonus:
    {{character.damageBonus}}
</div>
<div>
    Build: 
    {{character.build}}
</div>
<div>
    Move: 
    {{character.move}}
</div>
<div>
    Fighting Skills:
    {{character.fightingSkills}}
</div>
<div>
    Dodge: 
    {{character.dodge}}
</div>
<div>
    Armor: 
    {{character.armor}}
</div>
<div>
    Skills: 
    {{character.skills}}
</div>
<div>
    Information: 
    {{character.info}}
</div>