<div id="shadow">
    <div id="output">
        <div class="row">
            <div class="col-12">
                <strong>
                    <span *ngIf="character.name == ''">Name</span>
                    <span>{{character.name}}</span>
                </strong>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <em>
                    <span *ngIf="character.description == ''">Description</span>
                    <span>{{character.description}}</span>
                </em>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <td><b>STR</b>: {{character.strength}}</td>
                        <td><b>CON</b>: {{character.constitution}}</td>
                        <td><b>SIZ</b>: {{character.size}}</td>
                        <td><b>DEX</b>: {{character.dexterity}}</td>
                        <td><b>INT</b>: {{character.intelligence}}</td>
                    </tr>
                    <tr>
                        <td><b>APP</b>: {{character.appearance}}</td>
                        <td><b>POW</b>: {{character.power}}</td>
                        <td><b>EDU</b>: {{character.education}}</td>
                        <td><b>SAN</b>: {{character.sanity}}</td>
                        <td><b>HP</b>:  {{character.health}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <b>DB:</b> {{character.damageBonus}}
            </div>
            <div class="col-sm-4">
                <b>Build:</b> {{character.build}}
            </div>
            <div class="col-sm-4">
                <b>Move:</b> {{character.move}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <b>Dodge:</b> {{character.dodge}}
            </div>
            <div class="col-sm-4">
                <b>MP:</b> {{character.magicPoints}}
            </div>
            <div class="col-sm-4">
                <b>Armor:</b> {{character.armor}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b>Fighting Skills:</b>
                {{character.fightingSkills.join(', ')}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b>Skills: </b>
                {{character.skills.join(', ')}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b>Information: </b>
                {{character.info}}
            </div>
        </div>
    </div>
</div>
<button (click)="MakeImage2()">Make Image</button>