<div class="container">
    <div class="row">
        <div class="col-lg-12"> </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h4>Call Of Cthulhu 7th Edition - NPC Creator</h4>
        </div>
        <div class="col-lg-6">
            <h4>Character Sheet</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 border">
            <app-creator class="col-lg-6"></app-creator>
        </div>
        <div class="col-lg-6">
            <app-viewer class="col-lg-6"></app-viewer>
        </div>
    </div>
</div>




